[submodule "prezto"]
	path = prezto
	url = https://github.com/fufler/prezto.git
[submodule "gdbinit"]
	path = gdbinit
	url = https://github.com/gdbinit/Gdbinit.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zshsh-dracula
	url = https://github.com/dracula/zsh-syntax-highlighting.git
[submodule "mc/midnight-commander"]
	path = mc/mc-dracula
	url = https://github.com/dracula/midnight-commander
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "rofi/hyprltm-net"]
	path = rofi/hyprltm-net
	url = https://github.com/hyprltm/hyprltm-net.git
