* {
  all: unset;
}

* {
  font-family: "FiraCode Nerd Font Propo";
}

window#waybar {
  background-color: #282a36;
  color: #f8f8f2;
}

#workspaces  {
  padding: 0px 16px;
}

#workspaces button {
  font-size: 18px;

  margin-right: 8px;

  transition-property: color;
  transition-duration: 0.4s;
  
  color: #f8f8f2;
}

#workspaces button:hover {
  background-color: unset;
  color: #ffb86c;
}

#workspaces button.active {
  color: #ff79c6;
}

tooltip {
  border: solid 1px #6272a4;
  border-radius: 8px;
  background-color: #282a36;
}

#performance, 
#temperatures,
#power,
#net,
#audio,
#language,
#tray,
#switches,
#privacy
{
  padding-right: 8px;
  border-right: solid 2px #44475a;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 700;
}

#clock {
  font-weight: 700;
}

#performance widget > label,
#temperatures widget > label,
#power widget > label,
#net widget > label,
#audio widget > label,
#language,
#privacy,
#tray,
#switches widget > label,
#custom-notifications
{
  margin-left: 8px;
}

#power-profiles-daemon:hover,
#network:hover,
#bluetooth:hover,
#wireplumber:hover,
#idle_inhibitor:hover,
#custom-notifications:hover,
#clock:hover,
#custom-colorscheme:hover
{
  color: #ff79c6;
}

#custom-notifications {
  padding-right: 16px;
}

#custom-notifications, #switches {
  font-size: 16px;
}

#temperature.critical {
  color: #ffb86c;
}

#battery.warning {
  color: #ffb86c;
}

#battery.critical {
  color: #ff5555;
}
